body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.logoStyle {
    padding-left:30px;
    color:#1de9b6;
    font-family: 'Roboto', sans-serif, font-weight: 100;
    font-size: 42px;
}
.logoStyleExt {
    font-size: 20px;
}

.divBTon{
  padding-top: 20px;
  padding-bottom:20px;
}
.divBTon2{
  padding-top: 100px;
  padding-bottom:80px;
}

.divBBon{
  padding-top: 20px;
  padding-bottom:50px;
}
.parallax-container2 {
  position: relative;
  overflow: hidden;
  height: 550px;
}
@media screen and (max-width: 600px) {
  .parallax-container2 {
    position: relative;
    overflow: hidden;
    height: 1250px;
  }
}
@media screen and (min-width: 600px) {
  .parallax-container2 {
    position: relative;
    overflow: hidden;
    height: 650px;
  }
}


.divEquipe{
  padding-top: 20px;
}

.navTop{ padding-left:300px;}

.buttonSubDiv{padding-top: 60px;}


.ImgSocial a{
  padding-right: 20px;
}
