<div class="container authFrame">
    <div class="row">
        <div class="col l3 s6">
            <div class="authFrameBox z-depth-1">
                <a href="/auth/github">
                    <img src="/assets/img/icons/big/github.png" class="responsive-img">
                    <h4 id="login" class="center-align">Github</h4>
                </a>
            </div>
        </div>
        <div class="col l3 s6">
            <div class="authFrameBox z-depth-1">

                <a href="/auth/facebook">
                    <img src="/assets/img/icons/big/facebook.png" class="responsive-img">
                    <h4 id="login" class="center-align">Facebook</h4>
                </a>
            </div>
        </div>
        <div class="col l3 s6">
            <div class="authFrameBox z-depth-1">

                <a href="/auth/twitter">
                    <img src="/assets/img/icons/big/twitter.png" class="responsive-img">
                    <h4 id="login" class="center-align">Twitter</h4>
                </a>
            </div>
        </div>
        <div class="col l3 s6">
            <div class="authFrameBox z-depth-1">

                <a href="/auth/google">
                    <img src="/assets/img/icons/big/google.png" class="responsive-img">
                    <h4 id="login" class="center-align">Google</h4>
                </a>
            </div>
        </div>
    </div>
</div>
